html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: silver;
}

#fichePerso {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 80%;
    transition: all 0.3s;
}

#contenu {
    margin: 0;
    padding: 0;
}

#appel {
    padding: 0 5%;
}